# Settings MongoDB
MONGODB_URI="mongodb://<user>:<password>@<ip/host>:27020/tiendas-balys?directConnection=true&authSource=tiendas-balys"
MONGODB_DATABASE="tiendas-balys"

# Settings API Payload CMS
PREFIX_AUTHORIZATION="Bearer"
# API_BASE_URL="https://dev-app-xyz.balystiendas.com/api"
# API_BASE_URL="http://127.0.0.1:54321/functions/v1"
API_BASE_URL="https://<supabase_id>.supabase.co/functions/v1"
API_ADMIN_USER="<admin_user>@balystiendas.com"
API_ADMIN_PASSWORD="<admin_password>"
ENDPOINT_USER_LOGIN="/admins/login"
ENDPOINT_MEDIA="/upload-media"
WATCH_FILE_PATH="./assets/original"
OUTPUT_FILE_PATH="./assets/webp"
# TOKEN="SUPABASE_ANON_KEY"

# Supabase 
SUPABASE_URL="https://bmjqebmyyeybsyzwirkd.supabase.co"
SUPABASE_KEY="SUPABASE_ANON_KEY"
SUPABASE_PUBLIC_MEDIA_URL="https://<supabase_id>.supabase.co/storage/v1/object/public/<broker_name>/products/assets/webp"

# Supabase Connection
sp_host="<supabase_id_server>.pooler.supabase.com"
sp_user="postgres.<supabase_id>"
sp_password="<supabase_password>"
sp_port="6543"
sp_dbname="postgres"